<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cities</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>
      <!--start nav bar-->
  <div class="bg-img" >
    <div class="container">
    <div class="topnav" id="myTopnav">
  <a href="/" class="active1">Ancient-EGYPT</a>
  <a href="/cities">المدن السياحية</a>
  <a href="/Tourism activities">النشاطات السياحية</a>
  <a href="/Egyptian food">الاكلات المصرية</a>
  <a href="/Night-spots">اماكن السهر</a>
  <a href="/Mobility&transportation">التنقل والمواصلات</a>
  <a href="/Choose-your-guide">اختار مرشدك الخاص</a>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
    </div>
    <button href=""  class="signin btn">Sign-in</button>
  </div>      
 <!--end nav bar-->
 <div class="line"></div>
 
<!-- Page content -->
    <section class="row city-section ">
<div class="button-cities col-2">
    <a href="/cities/cairo" class="btn btn-warning ">Cairo & Giza</a>
  </div>   

    <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/صور الموقع/المدن/القاهرة والجيزة/الاهرامات وابو الهول1.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/القاهرة والجيزة/المتحف المصري الكبير.jpg" alt="">   
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/القاهرة والجيزة/المتحف المصري الكبير3.jpg" alt="">   
      </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/القاهرة والجيزة/الاهرامات وابو الهول.jpg" alt="">   
        </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/القاهرة والجيزة/شارع المعز5.jpg" alt="">   
        </div>
        <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/القاهرة والجيزة/قصر البارون.jpg" alt="">   
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="text-cities col-7 ">
        <div>
          <h3>CAIRO : ( The capital of Egypt & And one of the oldest cities in the ancient world)</h3>
        <p>Cairo is the capital of the Arab Republic of Egypt and its largest and most important city at all. It is the largest Arab city in terms of population and area.
          The city of Cairo is one of the most culturally and culturally diverse cities, as it witnessed many different historical periods throughout the ages, and there are many ancient and modern monuments in it, so it has become an open museum that includes Pharaonic, Greek, Roman, Coptic and Islamic antiquities.

        </p>
        <h3>GIZA : (Pyramids city)</h3>  
        <p>It includes a group of tourist attractions and the best in the world, such as: the Great Pyramids, the Sphinx, the Pyramid of Saqqara and the Grand Egyptian Museum.</p>
      </div>
        </div>
        
</section>

<!--2--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cities/ASWAN" class="btn btn-warning"> ASWAN </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/اسوان/معبد فيلة اسوان 2.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/اسوان/جزيرة النباتات اسوان3.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/اسوان/معبد فيلة اسوان 3.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/اسوان/القرية النوبية اسوان.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text-cities col-7">
      <div>
        <h3>ASWAN : (The country of gold) OR (The heart of the Nile)</h3>
      <p>
        The country of gold because it was a great treasure or cemetery for the kings of Nubia who lived there for thousands of years.
        Aswan is one of the hottest, sunniest and driest cities in the world, it is the best place to spend the winter in the world.
        Aswan is characterized by a group of the best islands and temples located in the Nile River, and it is one of the best places in the world that you must visit, such as the Philae Temple and the Philae Island.
        
and Abu Simbel Temple
The construction of the temple complex began in about 1244 BC and lasted for about 21 years, and the temple was forgotten until 1813, when the Swiss orientalist J. L. Burkhardt found the main temple cornice, then began saving the Abu Simbel temples in 1964, and this operation cost 40 million dollars. Between 1964 and 1968, the whole site was cut into large blocks (up to 30 tons and an average of 20 tons), dismantled and re-installed in a new location at an altitude of 65 m and 200 m above river level, and is considered by many to be one of the greatest works of archaeological engineering. . Some structures were rescued from under the waters of Lake Nasser. Today, thousands of tourists visit the temples do every day. Convoys of buses and escorted cars depart twice a day from Aswan.
It is the nearest city. Many visitors arrive by plane at the airport, which was built specifically for the temple complex.
      </p>
      </div>
      </div>
    
</section> 
<hr>
<!--3-->
<section class="row city-section">
  <div class="button-cities col-sm-2 ">
  <a href="/cities/LUXOR" class="btn btn-warning">  LUXOR </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/الاقصر/وادي  الملوك والملكات الاقصر 5.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/الاقصر/الكرنك.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/الاقصر/وادي  الملوك والملكات الاقصر .jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/الاقصر/معبد الكرنك بالاقصر.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="text-cities col-7">
      <div>
        <h3>LUXOR : (Sun City)</h3>
      <p>Luxor includes nearly a third of the world's monuments, and it also includes many ancient Pharaonic monuments divided on the eastern and western mainland of the city. The eastern mainland includes the Luxor Temple, the Karnak Temple, the rams road linking the two temples, and the Luxor Museum. Deir el-Bahari, Valley of the Queens, Deir el-Medina, Ramesseum Temple, and Colossi of Memnon.
        It is the capital of Egypt in the Pharaonic era ,
        It is located on the banks of the Nile River, which divides it into two parts, the eastern and western mainland.
        The founding of the city of Thebes dates back to the era of the Fourth Dynasty, around 2575 BC .

      </p>
      </div>
      </div>
      
</section>
<!--4--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cities/ALEXANDRIA" class="btn btn-warning">  ALEXANDRIA  </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/كل المدن/قلعة-قايتباى-الاسكندرية.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/قلعة-قايتباي الاسكندرية.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/الاسكندري قصر المنتزه.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/معبد-الياهو الاسكندرية.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text-cities col-7">
      <div>
        <h3>Alexandria : (The second capital of Egypt)</h3>
      <p>It was the capital of ancient Egypt , It is located on the coast of the White Sea .

        The city of Alexandria includes many distinctive landmarks, as there is the largest sea port in Egypt, which is the port of Alexandria,It also includes the new Library of Alexandria, which contains more than eight million books, and receives about 1.5 million visitors annually.
        It also includes many museums such as the Alexandria National Museum and the Greco-Roman Museum, and archaeological sites such as Qaitbay Citadel and the Sawari Column.
        
Work began on the establishment of Alexandria at the hands of Alexander the Great in the year 332 BC. By filling in a part of the water separating an island stretching in front of the main coast called “Pharos” with an ancient port, and a small village called “Ractus.”.
      </p>
      </div>
      </div>
      <p class="col-sm-12">
        
      </p>
</section>
<!--5--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cairo" class="btn btn-warning">  DAHAB & Saint Catherine </a>
      </div>


      <div id="carouselExampleFade" class="carousel slide carousel-fade city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/صور الموقع/المدن/كل المدن/دهب 5.jpg" class="d-block w-100" alt="">   
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/دهب 4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/دهب.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/دهب 3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/دهب2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/سانت كاترين.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/سانت كاترين 2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="text-cities col-7">
      <div>
        <h3>DAHAB (GOLD) : (The Heaven on earth)</h3>
      <p>It was named after the golden color of its sand .
        The city is famous for its pristine beaches and natural diving sites rich in coral reefs, valleys, mountains and nature reserves.
        The city includes many prominent tourist places, which are represented in the Ras Abu Gallum area, which is a natural reserve and a diving area, the Bluehole area, which is one of the world-famous diving places, and the Canyon area, which is one of the excellent diving areas.

      </p>
      <h3>Saint Catherine : (mountain city)</h3>
      <p>The city is famous for religious tourism, safari tourism, and mountain climbing. There is the Monastery of St. Catherine, Mount Moses, the shrine of the Prophet Harun, and other religious monuments. It is considered the largest natural reserve in the Arab Republic of Egypt in terms of area.
        The city of St. Catherine is the most private and distinguished city in Sinai, as it is the highest inhabited place in Sinai, as it is located on a plateau that rises 1,600 meters above sea level in the heart of South Sinai.      
Surrounded by a group of mountains that are the highest in the Sinai and in all of Egypt, the highest of which is the summit of Mount Catherine, Mount Moses, and Mount Safsafa. This height endowed it with a distinct climate, moderate in the summer and very cold in the winter, which gives it a special beauty when the snow covers the tops of the mountains and the land of the city. The area has been declared a nature reserve because of its natural, historical and religious significance.
      </p>
      </div>
      </div>
      <p class="col-sm-12">
        
      </p>
</section>
<!--6--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cairo" class="btn btn-warning">  SHARM-ELsheikh </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/كل المدن/شرم2.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/شرم الشيخ3.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/فرشة-كافيه-فى-شرم-الشيخ-6-580x408.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/شرم الشيخ.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="text-cities col-7">
      <div>
        <h3>SHARM-ELSHEIKH : (city ​​of peace)</h3>
      <p>It is famous as one of the international diving centers that attract amateurs and professionals of this sport.
        In front of its coast are the islands of Tiran and Sanafir, and among its most important areas are Ras Nasrani, Ras Um Sid, Ras Jamila, Ras Kanisah, Sharm El Maya, Nakhlet al-Tabal, in addition to the Ras Muhammad reserve located to the south and the Nabq reserve.
      </p>
      </div>
      </div>
      <p class="col-sm-12">
        
      </p>
</section>
<!--7--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cities/HURGHADA & EL-GOUNA" class="btn btn-warning">  HURGHADA  </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/كل المدن/الغردقة 2.jpg" alt="">   

        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/الجونة.jpeg" alt="">

        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/الغردقة.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/الجونة 2.jpeg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text-cities col-7">
      <div>
        <h3>Hurghada :(The city of water sports and diving)</h3>
      <p>It is located on the Red Sea and has one of the best islands and tourist resorts ,
        like islands of Giftun, Umm Qamar, Magawish, Abu Ramada, Abu Minqar, Fanadir, and Shadwan, and among the most famous of them are Bay El Gouna, Sahl Hasheesh, Soma Bay, and Makadi.
      </p>
      </div>
      </div>
      <p class="col-sm-12">
        
      </p>
</section>
<!--8--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cities/MARSA-ALAM" class="btn btn-warning">  MARSA-ALAM </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/كل المدن/bee564e3-ebe5-41c9-9d8c-8fd133497498.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/marsaalampool.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/ST_Mangrove-tree-at-Al-Qulaan-Wadi-El-Gemal-protectorate-Marsa-Alam-Red-Sea-Egypt-800x534.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/Marsa-Alam-Brothers-Elphinstone-02.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="text-cities col-7">
      <div>
        <h3>MARSA-ALAM : (Egyptian Maldives)</h3>
<p>Due to its crystal clear water and its white sandy beaches, it is also known as the "Egyptian Maldives" .
  Marsa Alam is also known as the world-class kitesurfing destination and starting point for safaris.
  Marsa Alam also has some inland attractions, such as the Emerald Mines and the Temple of Seti I at Khanais.
  Among the most famous beaches around Marsa Alam is the Abu Dabab beach. In Abu Dabab, turtles are a common sight. For tourists who seek to see something less typical, there is marine wildlife like crocodilefish and octopuses.
</p>
</div>
      </div>
      
<!--9--> <hr>
<section class="row city-section">
  <div class="button-cities  col-sm-2">
  <a href="/cities/TABA&AREISH" class="btn btn-warning">  TABA & EL-ARISH </a>
      </div>

      <div id="carouselExampleControls" class="carousel slide city-section-img  col-7" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/صور الموقع/المدن/كل المدن/hyatt_regency_taba_heights.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/Taba-see.jpg" alt="">   
      </div>
        <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/201907210456255625.jpg" alt="">   
      </div>
      <div class="carousel-item">
          <img src="/images/صور الموقع/المدن/كل المدن/المدينة-المرجانية.jpg" alt="">   
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<div class="text-cities col-7">
<div>
  <h3>TABA : (Nature preserve)</h3>
<p>Taba is a beautiful tourist city located on the borders of 4 countries: Egypt, Saudi Arabia, Jordan, and Palestine, as it is about 7 km east of the Israeli port of Eilat.
  It is an amazing diving spot that is embraced and protected by a picturesque natural bay of coral reefs in an unforgettable sight. The bay is suitable for diving enthusiasts and professionals, as the crater or al-Hawl area attracts diving professionals, whose entrance can be reached through a huge group of coral reefs at a depth of 16 meters, so that the journey begins inside the crater to a depth of 24 meters, during which divers witness rare scenes of marine life, including seeing sea fish The open area feeds on small glass fish and silver fish. As for the less experienced diving enthusiasts, the alternative is the banana area, which is a shallow spot of coral reefs that are similar in shape to a banana fruit, which reaches a maximum depth of 12 meters and houses a variety of fish and reefs.


  It contains caves, mountain paths, and valleys, the most famous of which are Wadi Watir, Al-Zalja, Al-Sawana, Nakhil, and Ain Khadra Oasis, in addition to rare species of animals, 50 species of birds, and more than 450 rare plants.
</p>
<h3>EL-ARISH : (The charming Bedouin city)</h3>
<p>The most important characteristic of the city of Arish is the Zaranik Reserve, and this area represents one of the main keys to bird migration in the world, as studies have proven the importance of the region and its unique location that connects the continents of Asia, Africa and Europe, and the region represents it as a bridge for migratory birds between these continents, especially in the autumn and spring seasons of each general
  The city of Arish is located on the most beautiful beaches in the world, Arish Beach:
  It is known as “Palm Beach” due to the presence of palm tree forests along the beach, where the length of Al-Arish beach reaches about 10 km, and this is distinguished by the presence of the Corniche, in which all tourist services are available.

</p>

</div>
</div>
<p class="col-sm-12">
  
</p>
</section>
<!--10--> <hr>
<section class="row city-section">
  <div class="button-cities col-sm-2">
  <a href="/cities/SIWA" class="btn btn-warning">  SIWA </a>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide city-section-img col-7" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/صور الموقع/المدن/كل المدن/102-223821-most-famous-tourist-places-siwa_700x400.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/1080-1635933587original.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/1630460_0.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="text-cities col-10">
      <div>
        <h3>SIWA: ( Oasis of Rest and Healing )</h3>
      <p> 
        An Egyptian oasis in the Western Desert, spread throughout it with wells and springs that are used for irrigation, drinking, bottling natural water and treatment, and it has four large lakes, while several archaeological sites were discovered in it, such as the Temple of Amun, which witnesses the phenomenon of the spring equinox twice a year, and the tombs of the Mountain of the Dead, which were announced A nature reserve with an area of ​​7,800 km، It includes several types of animal and plant life forms. Siwa is famous for medical tourism, as its sand provides natural elements suitable for alternative medicine purposes. While safari trips using four-wheel drive vehicles are among the popular trips for visitors to the oasis. The architecture in Siwa has a special and distinctive character, as traditional houses are built with karashif stone, which consists of salt and soft sand mixed with mud, and doors and windows are made of olive and palm trees.
      </p>
      </div>
      </div>
      
</section>
<!--11--> <hr>
<section class="row city-section ">
  <div class="button-cities col-sm-2">
    
  <a href="/cities/NEWBAA&RAS-SHEtan" class="btn btn-warning">  Nuweiba & RAS-SHEtan </a>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide city-section-img col-7" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/صور الموقع/المدن/كل المدن/141559.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/DZJV3B5U8AA0vEI.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/صور الموقع/المدن/كل المدن/44444-وادي-الوشواش-حمام-سباحة-طبيعى-اكتشفه-البدو-فى-نويبع-(8).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<div class="text-cities col-7">
<div>
  <h3>Nuweiba : (The quiet mountain city)
  </h3>
<p>Nuweiba is considered the best place distinguished by its picturesque nature and tranquility, as it is isolated from the noise and is visited by tourists with the aim of relaxing and recuperating away from the noisy tourist places to enjoy the wonderful sandy beaches full of unique Bedouin tents .</p>
</div>
</div>
<p class="col-sm-12">
  
</p>
</section>
<!--12--> <hr>
<!--end content-->


 <!--links-->
 
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> <script defer src="/javascripts/main.js"></script>
</body>
</html>